<!doctype html>
<html<% if ( config.language ) { %> lang="<%= config.language %>"<% } %> class="h-100">
<head>

    <%- partial('_partial/_head') %>

</head>
<body class="d-flex flex-column h-100">

    <%- partial('_partial/_header') %>

    <main role="main" class="flex-shrink-0">
        <%- body %>
    </main>

    <%- partial('_partial/_footer') %>

</body>
</html>
